/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9/04/2025, 15:09:31
    Author     : abrah
*/
.botonIniciar{
    -fx-background-color:#1887A9;
}

.botonIniciar:hover{
    -fx-background-color:#0677CF;
}

.botonIniciar:pressed{
    -fx-background-color:#188DE3;
}

.botonCancelar{
    -fx-background-color:#B91616;
}

.botonCancelar:hover{
    -fx-background-color:#DB1212;
}

.botonCancelar:pressed{
    -fx-background-color:#FF0404;
}